:root {
  /* Colors */
  --cyan: hsl(180, 66%, 49%);
  --dark-violet: hsl(257, 27%, 26%);
  --red: hsl(0, 87%, 67%);
  --gray: hsl(0, 0%, 75%);
  --grayish-violet: hsl(257, 7%, 63%);
  --very-dark-blue: hsl(255, 11%, 22%);
  --very-dark-violet: hsl(260, 8%, 14%);
}

html {
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: var(--gray);
  overflow-x: hidden;
}

h1,
h2,
h3 {
  margin-top: 0;
}

h1 {
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.btn {
  background-color: var(--cyan);
  color: hsl(0, 0%, 100%);
  border: none;
  font-weight: 700;
}

.container {
  width: calc(100% - 3rem);
  max-width: 1110px;
  margin: 0 auto;
}

/* Header */
.header {
  padding-top: 40px;
  padding-bottom: 22px;
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

@media (min-width: 768px) {
  .navbar {
    justify-content: flex-start;
  }
}

/* Links */
@media (min-width: 768px) {
  .links-container {
    width: 100%;
    margin-left: 46px;
    margin-right: 38px;
  }

  .links-container > .links-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
  }

  .links-container > .links-list > .link:last-child {
    margin-left: auto;
  }

  .link > a {
    font-weight: 700;
    color: var(--grayish-violet);
    transition: color 250ms ease-in-out;
  }

  .link > a:hover {
    color: var(--very-dark-blue);
  }

  .btn.btn-nav {
    width: 120px;
    padding: 10px 24px;
    border-radius: 50px;
    font-weight: 700;
    flex-shrink: 0;
    font-size: 18px;
    transition: opacity 250ms ease-in-out;
  }

  .btn.btn-nav:hover {
    opacity: 0.5;
  }
}

/* Hamburger Menu */
.btn-hamburger {
  padding: 10px;
  border: none;
  background: none;
}

.btn-hamburger > span {
  display: block;
  width: 25px;
  height: 2px;
  background-color: black;
}

.btn-hamburger > span:not(:last-child) {
  margin-bottom: 5px;
}

.menu {
  /* display: none; */
  position: absolute;
  transition: opacity 500ms ease-in-out;
  opacity: 0;
  height: 0;
  font-size: 16px;
  visibility: hidden;
}

.menu.open {
  opacity: 1;
  height: auto;
  position: absolute;
  width: 100%;
  border-radius: 8px;
  text-align: center;
  padding: 40px 24px;
  background-color: var(--dark-violet);
  font-weight: 700;
  top: 0;
  margin-top: 62px;
  visibility: visible;
}

.menu > .menu-list > .menu-link {
  margin-bottom: 40px;
}

.menu > .menu-list > .menu-link > a {
  color: hsl(0, 0%, 100%);
}

.menu > .menu-list > hr {
  border: 0;
  height: 1px;
  background: hsla(0, 0%, 100%, 0.25);
  margin-block: 32px;
}

.menu > .menu-list > .menu-link:last-child {
  margin-bottom: 26px;
}

.btn.btn-menu {
  height: 48px;
  width: 100%;
  border: 0;
  border-radius: 24px;
  font-size: 18px;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  background-color: var(--cyan);
  cursor: pointer;
}

/* Visibility */

/* Desktop */
@media (min-width: 768px) {
  .mobile-only {
    display: none;
  }
}

/* Mobile */
@media (max-width: 767.99px) {
  .desktop-only {
    display: none;
  }
}
