:root {
  /* Colors */
  --cyan: hsl(180, 66%, 49%);
  --dark-violet: hsl(257, 27%, 26%);
  --red: hsl(0, 87%, 67%);
  --gray: hsl(0, 0%, 75%);
  --grayish-violet: hsl(257, 7%, 63%);
  --very-dark-blue: hsl(255, 11%, 22%);
  --very-dark-violet: hsl(260, 8%, 14%);
}

html {
  font-size: 100%;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: var(--grayish-violet);
  overflow-x: hidden;
}

h1,
h2,
h3 {
  margin-top: 0;
  color: var(--very-dark-blue);
}

h1 {
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

button {
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

.btn {
  background-color: var(--cyan);
  color: hsl(0, 0%, 100%);
  border: none;
  font-weight: 700;
}

.container {
  width: calc(100% - 3rem);
  max-width: 1110px;
  margin: 0 auto;
}

/* Header */
.header {
  padding-top: 40px;
  padding-bottom: 20px;
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

@media (min-width: 1024px) {
  .navbar {
    justify-content: flex-start;
  }
}

/* Links */
@media (min-width: 640px) {
  .links-container {
    width: 100%;
    margin-left: 46px;
    margin-right: 38px;
  }

  .links-container > .links-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
  }

  .links-container > .links-list > .link:last-child {
    margin-left: auto;
  }

  .link > a {
    font-weight: 700;
    color: var(--grayish-violet);
    transition: color 250ms ease-in-out;
  }

  .link > a:hover {
    color: var(--very-dark-blue);
  }

  .btn.btn-nav {
    width: 120px;
    padding: 10px 24px;
    border-radius: 50px;
    font-weight: 700;
    flex-shrink: 0;
    font-size: 18px;
    transition: opacity 250ms ease-in-out;
  }

  .btn.btn-nav:hover {
    opacity: 0.5;
  }
}

/* Hamburger Menu */
.btn-hamburger {
  padding: 10px;
  border: none;
  background: none;
}

.btn-hamburger > span {
  display: block;
  width: 25px;
  height: 2px;
  background-color: black;
}

.btn-hamburger > span:not(:last-child) {
  margin-bottom: 5px;
}

.menu {
  /* display: none; */
  position: absolute;
  transition: opacity 500ms ease-in-out;
  opacity: 0;
  height: 0;
  font-size: 16px;
  visibility: hidden;
}

.menu.open {
  opacity: 1;
  height: auto;
  position: absolute;
  width: 100%;
  border-radius: 8px;
  text-align: center;
  padding: 40px 24px;
  background-color: var(--dark-violet);
  font-weight: 700;
  top: 0;
  margin-top: 62px;
  visibility: visible;
}

.menu > .menu-list > .menu-link {
  margin-bottom: 40px;
}

.menu > .menu-list > .menu-link > a {
  color: hsl(0, 0%, 100%);
}

.menu > .menu-list > hr {
  border: 0;
  height: 1px;
  background: hsla(0, 0%, 100%, 0.25);
  margin-block: 32px;
}

.menu > .menu-list > .menu-link:last-child {
  margin-bottom: 26px;
}

.btn.btn-menu {
  height: 46px;
  width: 100%;
  border: 0;
  border-radius: 24px;
  font-size: 18px;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  background-color: var(--cyan);
  cursor: pointer;
}

/* Visibility */

/* Desktop */
@media (min-width: 1024px) {
  .mobile-only {
    display: none;
  }
}

/* Mobile */
@media (max-width: 1023px) {
  .desktop-only {
    display: none;
  }
}

/* Hero */
.hero {
  margin-bottom: 170px;
}

.hero-image {
  height: 328px;
  margin-bottom: 50px;

  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hero-text {
  text-align: center;
}

.hero-heading {
  font-size: 40px;
  line-height: 1.1;
  color: var(--very-dark-blue);
}

.btn.btn-hero {
  padding: 16px 40px;
  border-radius: 100px;
  font-size: 18px;
  transition: opacity 250ms ease-in-out;
}

.btn.btn-hero:hover {
  opacity: 0.5;
}

@media (min-width: 1024px) {
  .hero {
    display: flex;
    margin-top: 60px;
    gap: clamp(10px, 7vw, 100px);
    margin-bottom: 70px;
  }

  .hero-text {
    order: 0;
    text-align: left;
    flex: 1 0 50%;
    padding-top: 75px;
  }

  .hero-heading {
    font-size: clamp(50px, 6vw, 72px);
  }

  .hero-copy {
    margin-bottom: 38px;
  }

  .hero-image {
    height: 100%;
    order: 1;
    flex: 1 2 auto;
  }
}

/* Shorten Link Section */
.shorten-link-section {
  background-color: hsl(230, 23%, 95%);
  padding-block: 1px;
}

.form-container {
  padding-block: 1px;
}

form {
  border-radius: 10px;
  margin-top: -72px;
  padding: 24px;
  background-color: var(--dark-violet);
  background-image: url(src/images/bg-shorten-mobile.svg);
  background-repeat: no-repeat;
  background-position: 100% 0%;
}

@media (min-width: 1024px) {
  form {
    display: flex;
    justify-content: space-between;
    gap: 21px;
    padding: 46px 64px;
    background-image: url(src/images/bg-shorten-desktop.svg);
    background-position: 0% 0%;
  }
}

form > .url-textbox {
  display: block;
  width: 100%;
  padding: 20px 18px;
  border-radius: 10px;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

@media (min-width: 1024px) {
  form > .url-textbox {
    display: inline-block;
    width: auto;
    flex: 1;
  }
}

.url-textbox:focus {
  outline-color: var(--very-dark-blue);
}

.url-textbox.error {
  border: 4px solid var(--red);
}

.url-textbox.error::placeholder {
  color: var(--red);
}
.url-textbox.error:focus {
  outline-color: var(--red);
}

.error-message {
  color: var(--red);
  margin: 0;
}

@media (min-width: 1024px) {
  .error-message {
    position: absolute;
    margin-top: 75px;
  }
}

form > .btn-form {
  display: block;
  width: 100%;
  padding: 20px 48px;
  border-radius: 10px;
  font-size: 18px;
  margin-top: 18px;
  transition: box-shadow 250ms ease-in-out;
}

form > .btn-form:hover {
  box-shadow: inset 0 0 0 10em rgba(255, 255, 255, 0.5);
}

@media (min-width: 1024px) {
  form > .btn-form {
    display: inline-block;
    width: auto;
    margin-top: 0;
  }
}

.shorten-link-list {
  margin-top: 22px;
}

.shorten-link-item {
  background-color: white;
  padding: 17px;
  border-radius: 10px;
  margin-bottom: 22px;
}

@media (min-width: 1024px) {
  .shorten-link-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 26px;
    padding: 24px 28px;
  }
}

.shorten-link-item:last-child {
  margin-bottom: 0;
}

.shorten-link-item > a {
  display: block;
  margin-bottom: 14px;
}

@media (min-width: 1024px) {
  .shorten-link-item > a {
    margin-bottom: 0;
  }
}

.shorten-link-item .original-link {
  color: var(--very-dark-blue);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (min-width: 1024px) {
  .shorten-link-item .original-link {
    flex: 1;
  }
}

.shorten-link-item hr {
  background-color: var(--gray);
  border: 0;
  height: 1px;
}

@media (min-width: 1024px) {
  .shorten-link-item hr {
    display: none;
  }
}

.shorten-link-item .shortened-link {
  color: var(--cyan);
  margin-top: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (min-width: 1024px) {
  .shorten-link-item .shortened-link {
    margin-top: 0;
  }
}

.shorten-link-item > .btn-copy {
  text-align: center;
  width: 100%;
  font-size: 18px;
  padding: 8px 0px;
  border-radius: 10px;
  transition: opacity 250ms ease-in-out;
}

.shorten-link-item > .btn-copy:hover {
  opacity: 0.5;
}

@media (min-width: 1024px) {
  .shorten-link-item > .btn-copy {
    width: 128px;
  }
}

.shorten-link-item .btn-copied {
  background-color: var(--dark-violet);
}

/* Features Section */
.features {
  background-color: hsl(230, 23%, 95%);
  text-align: center;
  padding-top: 93px;
  padding-bottom: 80px;
}

@media (min-width: 1024px) {
  .features {
    padding-top: 132px;
    padding-bottom: 120px;
  }

  .features h2 {
    font-size: 38px;
  }
}

.features-cards-container {
  margin-top: 100px;
}

@media (min-width: 1024px) {
  .features-cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }
}

.features-card {
  position: relative;
  background-color: white;
  padding: 0px 34px;
  padding-bottom: 38px;
  margin-bottom: 92px;
  border-radius: 10px;
}

@media (min-width: 1024px) {
  .features-card {
    text-align: left;
    margin-bottom: 0;
    height: fit-content;
  }

  .features-card:nth-child(2) {
    margin-top: 44px;
  }

  .features-card:nth-child(3) {
    margin-top: 88px;
  }
}

.features-card:nth-child(2)::before,
.features-card:nth-child(2)::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 92px;
  background-color: var(--cyan);
  left: 50%;
  transform: translateX(-50%);
}

@media (min-width: 1024px) {
  .features-card:nth-child(2)::before,
  .features-card:nth-child(2)::after {
    width: 30px;
    height: 8px;
    transform: none;
  }
}

.features-card:nth-child(2)::before {
  top: -92px;
}

@media (min-width: 1024px) {
  .features-card:nth-child(2)::before {
    top: 108px;
    right: 0;
    bottom: 0;
    left: -30px;
  }
}

.features-card:nth-child(2)::after {
  bottom: -92px;
}

@media (min-width: 1024px) {
  .features-card:nth-child(2)::after {
    top: 108px;
    right: -30px;
    bottom: 0;
    left: auto;
  }
}

.features-card:last-child {
  margin-bottom: 0;
}

.features-card-icon {
  position: relative;
  background-color: var(--dark-violet);
  border-radius: 100%;
  padding: 24px;
  margin-top: -44px;
}

.features-card-heading {
  margin-top: 21px;
  margin-bottom: 25px;
}

.features-card-body {
  margin: 0;
}

/* CTA Section */
.cta {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 88px;
  background-color: var(--dark-violet);
  background-image: url(src/images/bg-boost-mobile.svg);
  background-repeat: no-repeat;
  background-position: 100% 0%;
}

@media (min-width: 1024px) {
  .cta {
    padding: 56px 0;
    background-image: url(src/images/bg-boost-desktop.svg);
    background-size: cover;
    background-position: 50% 0%;
  }
}

.cta-heading {
  color: white;
}

@media (min-width: 1024px) {
  .cta-heading {
    font-size: 42px;
  }
}

.cta .btn-cta {
  padding: 12px 36px;
  border-radius: 100px;
  font-size: 18px;
}

.cta .btn-cta:hover {
  box-shadow: inset 0 0 0 10em rgba(255, 255, 255, 0.5);
}

/* Footer */
.footer {
  text-align: center;
  padding-top: 56px;
  padding-bottom: 24px;
  background-color: var(--very-dark-violet);
}

@media (min-width: 1024px) {
  .footer {
    text-align: left;
  }
}

@media (min-width: 1024px) {
  .footer-nav {
    display: grid;
    grid-template-columns: 2fr repeat(4, 1fr);
  }
}

.footer-logo > svg {
  margin-bottom: 50px;
}

.footer-logo > svg > path {
  fill: white;
}

.footer-links-section {
  margin-bottom: 50px;
}

@media (min-width: 1024px) {
  .footer-links-section {
    margin-bottom: 0;
  }
}

.footer-links-section > h3 {
  color: white;
  margin-bottom: 32px;
}

.footer-links-list > li {
  margin-bottom: 18px;
}

.footer-links-list > li:last-child {
  margin-bottom: 0;
}

.footer-links-list a {
  color: var(--grayish-violet);
  transition: color 250ms ease-in-out;
}

.footer-links-list a:hover {
  color: var(--cyan);
}

.footer-social-links > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.footer-social-links svg {
  cursor: pointer;
}

.footer-social-links svg > path {
  transition: fill 250ms ease-in-out;
}

.footer-social-links svg > path:hover {
  fill: var(--cyan);
}

.attribution p {
  font-size: 14px;
  margin-bottom: 10px;
}

.attribution p:last-child {
  margin: 0;
}

.attribution a {
  color: var(--gray);
}

.author:hover {
  color: var(--cyan);
}
